{% extends 'base.html'%}

{% block title %}
Login Page
{% endblock %}
{% block content %}
<h1>form page</h1>
<form class="row g-3">
    <div class="col-12">
        <label for="id" class="form-label">ID</label>
        <input type="number" class="form-control" id="id" placeholder="21110207" name="id">
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" name="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4" name="inputPassword4">
    </div>
    <div class="col-12">
        <label for="username" class="form-label">UserName</label>
        <input type="text" class="form-control" id="username" placeholder="ssingh" name="username">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}